@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #4f4f4f;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  justify-content: space-evenly;
  width: 400.36px;
  height: 454.96px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
}

.drop-zone {
  justify-content: space-evenly;
  width: 338px;
  height: 218px;
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  border-radius: 12px;
}
.file-format {
  font-size: 0.65rem;
  color: #828282;
}

.drag-and-drop-text {
  font-size: 0.75rem;
  color: #bdbdbd;
}
small {
  display: block;
  color: #bdbdbd;
  font-size: 0.7rem;
}

button,
.open {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #2f80ed;
  color: white;
  border: none;
  outline: none;
  font-size: 0.75rem;
  cursor: pointer;
}
input {
  display: none;
}

.check {
  width: 15px;
}
svg {
  color: green;
}

.svg-wrapper {
  width: 50px;
  height: auto;
}

.uploaded-img {
  display: block;
  width: 338px;
  height: 225px;
  border-radius: 12px;
}
.url-container {
  width: 338px;
  height: 34px;

  background: #f6f8fb;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  position: relative;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.url-text {
  font-size: 0.5rem;
  color: #4f4f4f;
}

.copy-btn {
  position: absolute;
  right: 0;
  height: 95%;
  line-height: 95%;
  font-size: 0.7rem;
}
